<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Wave Demo</title>
    <style>[x-cloak] { display: none; }</style>
    <link rel="icon" type="image/png" href="{ url('assets/images/favicon.png') }">
    <link rel="icon" type="image/png" href="{ url('assets/images/favicon-light.png') }" media="(prefers-color-scheme: dark)">

    <script src="//unpkg.com/alpinejs" defer></script>
    {tailwindcss}

</head>
<body class="w-screen overflow-hidden h-dvh"
    x-data="{ themeOpen: false, menuOpen: false, theme: 'anchor', themeImage: 'anchor', collapsed: false, isTouchDevice: false, themeLoading:false, iframe_src: 'about:blank', demo_url: 'https://wavev3.devdojo.com', headerBarClasses: 'px-0' }" 
    x-init="
        window.addEventListener('load', function() {
            // Get the URL's query parameters
            let urlParams = new URLSearchParams(window.location.search);

            // console.log(urlParams);
            // Get the value of the 'theme' parameter
            let themeValue = urlParams.get('theme');

            if(themeValue){
                theme=themeValue;
            }

            iframe_src = demo_url + '?theme=' + theme;

        //     setTimeout(function(){
        //     $refs.iframe.contentWindow.location.reload(true);
        // }, 2000);
            isTouchDevice = 'ontouchstart' in window || navigator.maxTouchPoints > 0;
        });
        

        
        $watch('theme', function(value){
            iframe_src = demo_url + '?theme=' + theme;
            themeOpen=false;
            setTimeout(function(){
                themeLoading=false;
            }, 1500);
        });
    ">
    {slot}
</body>
</html>
